/* default link color */
a, .gdoc-toc a, .gdoc-post__readmore a {
  color: #00425b;
}
a:visited, .gdoc-toc a:visited, .gdoc-post__readmore a:visited {
  color: #44778a;
}

/* nav bar */
section > .gdoc-nav__list > li > .gdoc-nav__list {
  padding-left: 2px;
}
section > .gdoc-nav__list > li > .gdoc-nav__list > li {
  padding-left: 10px;
  margin-left: 5px;
  border-left: #d7dbdf;
  border-left-style: solid;
  border-width: 0.5px;
}
section > .gdoc-nav__list > li > .gdoc-nav__list > li > .flex > .gdoc-nav__entry {
  color: #044862;
  font-weight: bold;
}
.gdoc-nav__entry.is-active, .gdoc-nav__entry:hover {
  text-decoration-style: solid!important;
}

/* search bar */
.gdoc-search a {
  font-size: .800rem;
}

/* Not mobiles */
@media screen and (min-width:39rem) {
  .gdoc-nav nav {
    width: 17rem;
    padding-right: 2rem;
    padding-left: 0;
  }
  .gdoc-nav {
    margin-right: 2rem;
    border-right-style: solid;
    border-color:#f8f9fa;
  }
  .gdoc-search__list {
    padding-right: 0;
  }
}

/* site header */
.gdoc-header { background: #05668D; border-color: #044862; }
.gdoc-header__link, .gdoc-header__link:visited { color: #ffffff; }
.gdoc-brand { margin-left: 1em; margin-right: 1em; }

/* page links */
.gdoc-page__footer a, .gdoc-page__footer a:visited, .gdoc-page__header a, .gdoc-page__header a:visited { color: #044862; }

/* toc-entries */
.gdoc-toc__entry {
  font-weight: bold;
}

/* site footer */
.gdoc-footer { background: #044862; color: #ffffff; }
.gdoc-footer__link{ color: #fecf50; }
.gdoc-footer__link:visited, .gdoc-footer__link:hover { color: #fecf50; }


/* button shortcode */
.gdoc-button { color: #495057; }
.gdoc-button:hover { background-color: #eb8771; border-color: #05668D; color: #ffffff; }

/* hint shortcode */
.gdoc-hint.info { background: #d1d7e8; border-color: #324b99; color: black; }
.gdoc-hint.warning { background: #fef5dc; border-color: #e4ba48; color: black; }
.gdoc-hint.danger { background: #fae1db; border-color: #cf5f46; color: black; }
